<div  ng-controller="ctrl">
          
              <!--Second row-->
              <div class="row">
                <!--First columnn-->
                <div class="col-lg-12 col-sm-12">
                  <!--Card-->
                  <div class="card wow fadeIn" data-wow-delay="0.2s"><!--Card content-->
                    <div class="card-body">
                      <!--Title-->
                      <h4 class="card-title">Text To Speech</h4>
                      <!--Text-->
                      <p class="card-text"><textarea  class="form-control" cols="20" rows="10" ng-model="txtToSpeech" placeholder="Type your text here..."></textarea></p>
                      <a  ng-click="readTxt()"  class="btn btn-info">Read text</a>
                    </div>
          
                  </div>
                  <!--/.Card-->
                </div>
              </div>
              <!--/.Second row-->
            </div>